/*Common Start*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 400;
  color: #626262;
}
/*Common End*/

/*Header Start*/
header {
  padding: 15px 0;
}
.container {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
}
.logo {
  margin-top: 13px;
  width: 10%;
  float: left;
}
.logo img {
  width: 100%;
}
.menu {
  width: 65%;
  float: right;
}
.menu ul {
  float: right;
}
.menu ul li {
  list-style: none;
  float: left;
}
.menu ul li a {
  margin: 0 60px;
  display: inline-block;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: .3s;
}
.menu ul li:last-child a {
  margin-right: 0;
}
.menu ul li a:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

/*Header End*/

/*Hero Image Start*/
.hero-image {}
.h-image {}
.h-image img {
  width: 100%;
}
/*Hero Image End*/

/*Perfect weekend paragraph start*/

.perfect {
  padding: 90px 0;
}
.container2 {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
  /*border: 1px solid #000;*/
}
.p-content {}
.c-light {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color:  #b4ad9e;
  text-transform: uppercase;
}
.c-header {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
}
.c-text {
  margin: 0;
  line-height: 25px;
}

.m-40 {
  margin-bottom: 40px;
}
/*Perfect weekend paragraph end*/
/*Blogs Start*/
.blog {
  padding-top: 35px;
  padding-bottom: 90px;
}
.blogs {}
.b-1st {
  margin-top: 70px;
  width: 47%;
  float: left;
}
.b-1st:nth-child(even) {
  margin-left: 6%;
}
.b-img {
  margin-bottom: 25px;
}
.b-img img {
  width: 100%;
}

/*Bogs end*/

/*Newsletter start*/
.newsletter {
  background-color: #f0f0f0;
  padding: 70px 0;
}

.signup {
  text-align: center;
}
.s-h1 {
  margin-top: 0;
  margin-bottom: 70px;
  color: #333333;
}
.s-form {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.s-form input {
  padding-left: 5px;
  padding-right: 40px;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #626262;
  width: 340px;
  height: 45px;
  border: none;
  border-bottom: 1px solid #626262;
  background: transparent;
  
}
.s-form input:focus {
  outline: 0;
}
.s-form button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 15px;
  right: 0;
}
.s-form button img {}
/*Newsletter end*/

.container3 {
  text-align: center;
  
}
.container3 button {
  padding: 15px 40px;
  background: transparent;
  border: none;
  border: 1px solid #626262;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}

.container3 button:hover {
  color: #fff;
  background-color: #000;
}

/*Load More start*/
.container3 {
  text-align: center;
  
}
.container3 button {
  padding: 15px 40px;
  background: transparent;
  border: none;
  border: 1px solid #626262;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}

.container3 button:hover {
  color: #fff;
  background-color: #626262;
}
/*Load More start*/

/*Footer start*/


.bg {
  margin-top: 100px;
  background-color: #f0f0f0;
  height: 80px;  
}
.terms {
  width: 30%
}
.terms ul {

}
.terms ul li {
  list-style: none;
  float: left;
}
.terms ul li a {
  margin: 17px 20px;
  display: inline-block;
  color: #626262;
  font-size: 14px;
  text-decoration: none;
}

.terms ul li:first-child a {
  margin-left: 0;
}

.social {
}
.social ul {
  float: right;
}
.social ul li {
  list-style: none;
  float: left;
  margin: 0 10px;
}

.social ul li span {
  font-size: 14px;
}
/*Footer End*/
